body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom,#499fc7, #3868c2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container{
    background-color:azure;
    border-radius: 50px;
    width: 500px;
    height: 420px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-box{
    width: 400px;
    
}
.close-button{
    background-color: black;
    position:relative;
    top: -50px;
    left: -20px;
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.circle{
    color: white;
    font-size: 20px;
}

#alert1,#alert2{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 13px;
    color: red;
}

#user, #pw{
    border-radius: 10px;
    height: 30px;
    width: 89.5%;
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
    
}

#klik{
    width: 100%;
    border-radius: 10px;
    height: 36px;
    background-color:#7695FF ;
    border: none;
    color: white;
    filter: brightness(100%);
    transition: 200ms;
}
#klik:hover{
    filter: brightness(75%);
    cursor: pointer;
}

h2{
    margin: 0;
    text-align: center;
    font-size: 40px;
}